%h1= @user.email

= render partial: 'friend_buttons'

- if current_user == @user
  = link_to "Edit profile", edit_profile_path

= gravatar_for(@user)

%table
  %tr
    %th About me
    %td= @user.profile.about_me
  %tr
    %th Gender
    %td= @user.profile.gender
  %tr
    %th Age
    %td= @user.profile.age
  %tr
    %th City
    %td= @user.profile.city
  %tr
    %th Country
    %td= @user.profile.country
  %tr
    %th Work
    %td= @user.profile.work

%ul
  - @posts.each do |post|
    %li
      = render partial: 'likes/post_like_buttons', locals: { post: post }
      = link_to post.content, post

%h2
  = link_to "Friends", user_friendships_path(@user)
