= form_for(@post) do |f|
  = f.text_area :content
  = f.hidden_field :user_id
  = f.submit "Post!"

%ul
  - current_user.timeline.each do |post|
    = link_to post do
      %li
        %p= post.user.email
        %p= post.content
        %p= distance_of_time_in_words(post.created_at, Time.now)
        %br
