= form_for(@post) do |f|
  = f.text_area :content
  = f.hidden_field :user_id
  = f.submit "Post!"

%ul
  - current_user.timeline.each do |post|
    %li
      %p= link_to post.user.email, post.user
      %p= link_to post.content, post
      %p= distance_of_time_in_words(post.created_at, Time.now)
      %ul
        - post.comments.each do |comment|
          %li
            = comment.content
            by
            = link_to comment.user.email, comment.user
      %br
