%p= @post.user.email

%p= link_to "Like", "#"

%p= @post.content

%p= distance_of_time_in_words(@post.created_at, Time.now)

= form_for([@post, @comment]) do |f|
  = f.text_area :content
  = f.submit "Add comment"

%ul
  - @post.comments.each do |comment|
    %li
      = comment.content
      by
      = link_to comment.user.email, comment.user
