%p= @post.user.email

%p= button_to "Like", post_likes_path(@post), method: :post

%p= @post.content

%p= distance_of_time_in_words(@post.created_at, Time.now)

= form_for([@post, @comment]) do |f|
  = f.text_area :content
  = f.submit "Add comment"

%ul
  - @post.comments.each do |comment|
    %li
      = button_to "like", comment_likes_path(comment), method: :post
      = comment.content
      by
      = link_to comment.user.email, comment.user
